@charset "UTF-8";


@media screen and (min-width:1240px) {
    .responsive {
        position: relative;
    }
    .centro {
        position: relative;
    }
}



@media screen and (min-width:200px) and (max-width:700px) {
    div.feed{
        height: 360px;
        width: 100px;
    }
    div.feed img{
        width: 20px;
    }
    .square2{
        /* Largura */
        width: 100px;
        /* Altura */
        height: 200px;}
        .centro{
            position: relative;
            width: 300px;
            height: 380px;
        }
}




@media screen and (max-width:1240px) {
    div.imagens img{
        max-width: 200px;
    }
    .responsive{
        width: 100%;
        display: inline-block;
        left: 0%;
        transform: translateX(0);
    }
    .square {
        left: 50%;
        transform: translateX(-50%);
        float: none;
    }
    div.feed{
        height: 360px;
        width: 250px;
    }
    div.feed img{
        width: 220px;
    }
    .square2{
        /* Largura */
        width: 250px;
        /* Altura */
        height: 200px;}
        .centro{
            position: relative;
            width: 750px;
            height: 380px;
        }
    
}

